@media screen and (width >= 1440px)
{
	html
	{
		background-image: url(../../images/destination/background-destination-desktop.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover
	}

	body
	{
		display: flex;
		justify-content: center
	}

	main
	{
		display: flex;
		flex-direction: column;
		gap: 97px;
		width: clamp(1076px, 88%, 1774px);
		position: absolute;
		top: 17dvh;

		#destination-header
		{
			font-size: 2.8rem;
			letter-spacing: .47rem;
			display: flex;
			gap: 28px;

			& > :first-child
			{
				font-weight: 700;
				opacity: 25%
			}
		}

		#destination-section
		{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			gap: 157px;

			& :is(#planet-details, #planet-details > header)
			{
				display: flex;
				flex-direction: column;
				gap: 33px
			}
		}

		#planet-details
		{
			width: 445px;

			& nav
			{
				height: 34px;
				display: flex;
				gap: 36px;
				align-items: stretch;

				& > *
				{
					cursor: pointer;

					&:not(.nav-active):hover
					{
						border-bottom: 3px solid var(--active-color)
					}
				}
			}

			& h1
			{
				font-weight: 400;
				font-size: 10rem
			}

			& > p
			{
				font-size: 1.8rem;
				line-height: 3.2rem
			}

			& > hr
			{
				border-color: var(--hr-transparent-color-white);
				width: 100%
			}

			& :is(h1, p, hr)
			{
				margin: 0
			}
		}

		#travel-details
		{
			display: flex;
			gap: 77px;

			& > div
			{
				display: flex;
				flex-direction: column;
				gap: 12px;
				width: fit-content
			}

			.travel-info
			{
				display: block;
				width: fit-content
			}

			.question
			{
				font-size: 1.4rem;
				letter-spacing: .24rem
			}

			.answer
			{
				font-size: 2.8rem
			}
		}

		& :is(#planet-details, #travel-details) :is(h1, p, .answer)
		{
			letter-spacing: 0
		}
	}

	footer
	{
		position: fixed;
		bottom: 0;
		font-size: 2rem
	}
}