@media screen and (768px <= width < 1440px)
{
    html
    {
        background-image: url(../../images/destination/background-destination-tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @media screen and (orientation: portrait)
        {
            height: 110dvh
        }

        @media screen and (orientation: landscape)
        {
            height: 103dvh
        }
    }

    :is(main, main > #destination-section, main > #destination-section > #planet-details, main #planet-details > header)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px
    }
    main
    {
        position: absolute;
        inset: 11% 6% 0;

        #destination-header
        {
            align-self: flex-start;
            font-size: 2rem;
            letter-spacing: .34rem;
            display: flex;
            gap: 19px;

            & > span:first-of-type
            {
                color: var(--hr-transparent-color-white);
                font-weight: 700
            }
        }

        #destination-section
        {
            width: 573px;
            text-align: center;

            & > img
            {
                width: 300px
            }
        }

        #planet-details
        {
            & nav
            {
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: stretch;
                gap: 36px
            }

            & h1
            {
                font-weight: 400;
                font-size: 8rem
            }

            & > p
            {
                line-height: 2.8rem
            }

            & > hr
            {
                border-color: var(--hr-transparent-color-white);
                width: 100%
            }

            & :is(h1, p hr)
            {
                margin: 0
            }
        }

        #travel-details
        {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            & > div
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px
            }

            .travel-info
            {
                display: block;
                width: fit-content
            }

            .question
            {
                font-size: 1.4rem;
                letter-spacing: .24rem
            }

            .answer
            {
                font-size: 2.8rem
            }
        }

        & :is(#planet-details, #travel-details) :is(h1, p, .answer)
        {
            letter-spacing: 0
        }
    }

    footer
    {
        position: absolute;
        font-size: 1.7rem;
        
        @media screen and (orientation: portrait)
        {
            bottom: -10vmax
        }

        @media screen and (orientation: landscape)
        {
            bottom: -30vmax
        }
    }
}