@media screen and (min-width: 375px) and (max-width: 767px)
{
    html
    {
        background-image: url(../../assets/destination/background-destination-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    body
    {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    :is(main > #destination-section, main > #destination-section > #planet-details, main #planet-details > header)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px
    }
    main
    {
        position: absolute;
        inset: 12% 6% 0
    }
    main > #destination-header
    {
        display: flex;
        justify-content: center;
        gap: 18px
    }
    main > #destination-header > span:first-of-type
    {
        color: var(--hr-transparent-color-white);
        font-weight: 700
    }
    main > #destination-section > img
    {
        width: 170px
    }
    main > #destination-section > #planet-details
    {
        width: 327px;
        text-align: center
    }
    main #planet-details nav
    {
        height: 28px;
        font-size: 1.4rem;
        letter-spacing: .24rem;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px
    }
    main #planet-details .nav-active
    {
        border-right: none;
        border-bottom: 3px solid
    }
    main #planet-details h1
    {
        font-weight: 400;
        font-size: 5.6rem
    }
    main #planet-details > p
    {
        line-height: 2.5rem;
        font-size: 1.5rem
    }
    main #planet-details > hr
    {
        width: 100%;
        border-color: var(--hr-transparent-color-white)
    }
    main #planet-details :is(h1, p, hr)
    {
        margin: 0
    }
    main #travel-details > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px
    }
    main #travel-details .question
    {
        font-size: 1.4rem;
        letter-spacing: .24rem
    }
    main #travel-details .answer
    {
        font-size: 2.8rem
    }
    main :is(#planet-details, #travel-details) :is(h1, p, .answer)
    {
        letter-spacing: 0
    }

    @media screen and (min-height: 844px)
    {
        main #planet-details > #travel-details
        {
            display: flex;
            flex-direction: column;
            gap: 32px
        }
    }

    @media screen and (max-height: 843px)
    {
        main #planet-details > #travel-details
        {
            width: 100%;
            display: flex;
            justify-content: space-between
        }
    }
}
