@media screen and (375px <= width < 768px)
{
    html
    {
        background-image: url(../../assets/destination/background-destination-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    body
    {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    :is(main, main > #destination-section, main > #destination-section > #planet-details, main #planet-details > header)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px
    }
    main
    {
        position: absolute;
        inset: 12% 6% 0;

        #destination-header
        {
            display: flex;
            gap: 18px;

            & > span:first-of-type
            {
                color: var(--hr-transparent-color-white);
                font-weight: 700
            }
        }

        #destination-section > img
        {
            width: 170px
        }

        #planet-details
        {
            width: 327px;
            text-align: center;

            & nav
            {
                height: 28px;
                font-size: 1.4rem;
                letter-spacing: .24rem;
                display: flex;
                justify-content: center;
                align-items: stretch;
                gap: 25px
            }

            .nav-active
            {
                border-right: none;
                border-bottom: 3px solid
            }

            & h1
            {
                font-weight: 400;
                font-size: 5.6rem
            }

            & > p
            {
                line-height: 2.5rem;
                font-size: 1.5rem
            }

            & > hr
            {
                width: 100%;
                border-color: var(--hr-transparent-color-white)
            }

            & :is(h1, p, hr)
            {
                margin: 0
            }
        }

        #travel-details
        {
            display: flex;

            @media screen and (height >= 844px)
            {
                flex-direction: column;
                gap: 32px
            }

            @media screen and (height <= 843px)
            {
                width: 100%;
                justify-content: space-between
            }

            & > div
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px
            }

            .question
            {
                font-size: 1.4rem;
                letter-spacing: .24rem
            }

            .answer
            {
                font-size: 2.8rem
            }
        }

        & :is(#planet-details, #travel-details) :is(h1, p, .answer)
        {
            letter-spacing: 0
        }
    }
}
