@media screen and (min-width: 768px) and (max-width: 1439px)
{
	html
	{
		background-image: url('../../assets/destination/background-destination-tablet.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover
	}
	main
	{
		height: 90%;
		position: relative
	}
	main > div
	{
		height: 96%;
		position: absolute;
		top: 40px;
		left: 40px;
		right: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px
	}
	main #destination-header
	{
		align-self: flex-start;
		font-size: 1.25rem;
		letter-spacing: .21rem;
		display: flex;
		gap: 20px
	}
	main #destination-header span:first-of-type
	{
		color: var(--hr-transparent-color-white);
		font-weight: 700
	}
	main #destination-section
	{
		width: 573px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 36px
	}
	main #destination-section > img
	{
		width: 300px
	}
	main #planet-details nav
	{
		letter-spacing: .17rem;
		display: flex;
		justify-content: center;
		gap: 35px
	}
	main #planet-details .nav-active
	{
		padding-bottom: 12px
	}
	main #planet-details h1
	{
		font-family: Bellefair, serif;
		font-style: normal;
		font-weight: 400;
		font-size: 5rem;
		letter-spacing: 0;
		margin-block: 20px
	}
	main #planet-details p
	{
		font-family: Barlow, sans-serif;
		font-style: normal;
		letter-spacing: 0;
		line-height: 1.75rem
	}
	main #planet-details hr
	{
		margin-block: 49px;
		border-color: var(--hr-transparent-color-white)
	}
	main #travel-details
	{
		display: flex;
		justify-content: space-evenly
	}
	main #travel-details > div
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px
	}
	main #travel-details .travel-info
	{
		display: block;
		width: fit-content
	}
	main #travel-details .question
	{
		font-size: .9rem
	}
	main #travel-details .answer
	{
		font-size: 1.75rem
	}
}
