@media screen and (min-width: 768px) and (max-width: 1439px)
{
    html
    {
        background-image: url(../../assets/destination/background-destination-tablet.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    :is(main, main > #destination-section, main > #destination-section > #planet-details, main #planet-details > header)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px
    }
    main
    {
        position: absolute;
        inset: 11% 6% 0
    }
    main > #destination-header
    {
        align-self: flex-start;
        font-size: 2rem;
        letter-spacing: .34rem;
        display: flex;
        gap: 19px
    }
    main > #destination-header > span:first-of-type
    {
        color: var(--hr-transparent-color-white);
        font-weight: 700
    }
    main > #destination-section
    {
        width: 573px;
        text-align: center
    }
    main > #destination-section > img
    {
        width: 300px
    }
    main #planet-details nav
    {
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 36px
    }
    main #planet-details h1
    {
        font-weight: 400;
        font-size: 8rem
    }
    main #planet-details > p
    {
        line-height: 2.8rem
    }
    main #planet-details > hr
    {
        border-color: var(--hr-transparent-color-white);
        width: 100%
    }
    main #planet-details :is(h1, p, hr)
    {
        margin: 0
    }
    main #planet-details > #travel-details
    {
        width: 100%;
        display: flex;
        justify-content: space-evenly
    }
    main #travel-details > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px
    }
    main #travel-details .travel-info
    {
        display: block;
        width: fit-content
    }
    main #travel-details .question
    {
        font-size: 1.4rem;
        letter-spacing: .24rem
    }
    main #travel-details .answer
    {
        font-size: 2.8rem
    }
    main :is(#planet-details, #travel-details) :is(h1, p, .answer)
    {
        letter-spacing: 0
    }
}