.nav-active
{
    border-bottom: 3px solid
}

.page-active
{
    opacity: 100%
}

.upper
{
    text-transform: uppercase
}

.d-none
{
    display: none
}

.d-flex
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px
}

.text-color
{
    color: var(--color-not-white-nor-black)
}

.bc
{
    font-family: 'Barlow Condensed', sans-serif
}

.be
{
    font-family: Bellefair, serif
}

.b
{
    font-family: Barlow, sans-serif
}

:is(.bc, .be, .b)
{
    font-style: normal
}

:root
{
    --color-white: white;
    --bg-transparent-color-white: #ffffff0a;
    --color-black: black;
    --hr-transparent-color-white: rgb(255, 255, 255, .25);
    --color-not-white-nor-black: #d0d6f9;
    --active-color: #fffff80
}

html
{
    height: 100vh
}

body
{
    height: 100%;
    margin: 0;
    color: var(--color-white);
    font-family: 'Barlow-Condensed', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: .1rem
}

a
{
    color: var(--color-white);
    text-decoration: none
}
