@media screen and (min-width: 768px) and (max-width: 1439px)
{
    .nav-active
    {
        padding-block: 35px
    }

    #header
    {
        position: relative;
        height: 96px
    }
    #header > nav #menu-panel
    {
        height: 100%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0
    }
    #header :is(#mob, #menu .menu-no, #menu-panel-close)
    {
        display: none
    }
    #header > nav #img
    {
        width: 87px;
        display: flex;
        align-items: center;
        position: relative
    }
    #header #img img
    {
        position: absolute;
        right: 0
    }
    #header > nav #hr
    {
        width: 93px;
        visibility: hidden;
        flex-grow: 1
    }
    #header > nav #menu
    {
        height: 100%;
        width: 450px;
        background-color: var(--bg-transparent-color-white);
        backdrop-filter: drop-shadow(2px 4px 6px var(--color-black)) blur(16px);
        flex-grow: 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center
    }
}