@media screen and (min-width: 1440px)
{
	main
	{
		height: 90%;
		display: flex;
		justify-content: center
	}
	main > div
	{
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly
	}
	main #destination-header
	{
		font-size: 1.75rem;
		letter-spacing: .3rem;
		text-transform: uppercase
	}
	main #destination-header :first-child
	{
		font-weight: 700;
		opacity: 25%
	}
	main #destination-section
	{
		display: flex;
		justify-content: center;
		gap: 157px
	}
	main #destination-section :last-child
	{
		width: 445px
	}
}
