@media screen and (375px <= width < 768px)
{
	@media screen and (orientation: landscape)
	{
		body
		{
			display: flex;
			justify-content: center
		}
	}

	.nav-active
	{
		border-bottom: none;
		border-right: 4px solid
	}

	#header
	{
		width: 100%;
		height: 72px;
		position: absolute;
		top: 0;

		& > nav
		{
			position: absolute;
			bottom: 13px;
			left: 0;
			right: 0
		}

		#mob
		{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.mob
			{
				&:first-child
				{
					width: 72px;
					position: relative;
					display: flex;
					align-items: center
				}

				&:last-child
				{
					width: 48px
				}
			}

			& img[alt='Logo']
			{
				position: absolute;
				right: 0
			}

			#mob-menu
			{
				width: 24px;
				height: 21px
			}
		}

		#menu-panel:not(.d-none)
		{
			width: 65%;
			height: 100dvh;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 1;
			background-color: var(--bg-transparent-color-white);
			backdrop-filter: drop-shadow(2px 4px 6px var(--color-black)) blur(16px);
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			& > noscript
			{
				position: inherit;
				bottom: 15px;
				left: 5%;
				text-align: center;
				color: var(--color-white);
				
				&::before
				{
					content: 'JavaScript must be enabled to open and close menu'
				}
			}

			& :is(#img, #hr)
			{
				display: none
			}

			#menu-panel-close
			{
				width: 48px;
				height: 57px;
				position: relative;

				& > img
				{
					width: 24px;
					aspect-ratio: 1 / 1;
					position: absolute;
					bottom: 0
				}
			}
		}

		#menu
		{
			width: 85%;
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 50px;

			@media screen and (orientation: landscape)
			{
				position: absolute;
				top: 30%
			}

			& > a
			{
				display: flex;
				gap: 11px
			}

			.menu-no
			{
				font-weight: 700
			}
		}
	}
}