@media screen and (width >= 1440px)
{
    html
    {
        background-image: url(../../images/crew/background-crew-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }

    body
    {
        display: flex;
        justify-content: center
    }

    main
    {
        position: absolute;
        top: 10%;
        bottom: 0;
        width: clamp(1236px, 80%, 2039px);
        display: grid;
        grid-template-areas: 'header image' 'section image' 'pagination image';
        align-items: center;

        & :is(#crew-section, #crew-section > header)
        {
            display: flex;
            flex-direction: column;
            gap: 21px
        }

        #crew-header
        {
            font-size: 2.8rem;
            letter-spacing: .47rem;
            grid-area: header;
            display: flex;
            gap: 24px;

            & > :first-child
            {
                font-weight: 700;
                color: var(--hr-transparent-color-white)
            }
        }

        #crew-section
        {
            grid-area: section;

            & > header
            {
                & > *
                {
                    font-weight: 400
                }

                & > :first-child
                {
                    font-size: 3.2rem;
                    color: var(--active-color)
                }

                & > :last-child
                {
                    font-size: 5.6rem
                }
            }

            & > p
            {
                width: 444px;
                font-size: 1.8rem;
                line-height: 3.2rem
            }

            & :is(header, p)
            {
                letter-spacing: 0
            }

            & :is(header > *, p)
            {
                margin: 0
            }
        }

        #pagination-circles
        {
            display: flex;
            gap: 24px;
            align-items: center;
            grid-area: pagination;

            & > span
            {
                display: inline-block;
                width: 15px;
                aspect-ratio: 1 / 1;
                background-color: var(--color-white);
                border-radius: 50%;
                cursor: pointer;

                &:not(.page-active)
                {
                    opacity: 17%;

                    &:hover
                    {
                        opacity: 50%
                    }
                }
            }

            & > noscript
            {
                color: var(--color-white);

                &::before
                {
                    content: 'JavaScript must be enabled to switch contents'
                }
            }
        }

        & > div:last-of-type
        {
            grid-area: image;
            justify-self: stretch;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            & > img
            {
                height: 80dvh
            }
        }
    }
}