/*@media screen and (min-width: 1440px)
{
    html
    {
        background-image: url(../../assets/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover
    }

    body
    {
        display: flex;
        justify-content: center
    }

    main
    {
        position: absolute;
        top: 15%;
        bottom: 15%;
        width: clamp(1076px, 70%, 1774px);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        & :is(#intro-txt, header)
        {
            display: flex;
            flex-direction: column;
            gap: 24px
        }

        & > #intro-txt
        {
            width: 450px;

            & h5
            {
                font-size: 2.8rem;
                letter-spacing: .47rem
            }

            & h1
            {
                font-size: 15rem
            }

            & > p
            {
                font-size: 1.8rem;
                line-height: 3.2rem
            }

            & :is(header > h1, p)
            {
                letter-spacing: 0
            }

            & :is(header > *, p)
            {
                margin: 0
            }
        }

        & header > *
        {
            font-weight: 400
        }

        & > a
        {
            background-color: var(--color-white);
            color: var(--color-black);
            font-size: 3.2rem;
            letter-spacing: .2rem;
            width: 274px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover
            {
                box-shadow: 0 0 0 90px #ffffff1a
            }
        }
    }
}*/