@media screen and (min-width: 375px) and (max-width: 767px)
{
	body
	{
		background-image: url('../../assets/crew/background-crew-mobile.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover
	}
	main
	{
		position: absolute;
		inset: 11% 8% 0;
		display: flex;
		justify-content: center
	}
	main > div
	{
		position: absolute;
		inset: 4% 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px
	}
	main #crew-header
	{
		order: 1;
		font-size: 1rem;
		letter-spacing: .17rem
	}
	main #crew-header > :first-child
	{
		font-weight: 700;
		color: var(--hr-transparent-color-white)
	}
	main #crew-section
	{
		text-align: center;
		order: 4;
		display: flex;
		flex-direction: column;
		gap: 16px
	}
	main #crew-section > header
	{
		display: flex;
		flex-direction: column;
		gap: 8px;
		font-family: Bellefair, serif;
		font-style: normal;
		letter-spacing: 0
	}
	#crew-section > header > *
	{
		margin: 0;
		font-weight: 400
	}
	#crew-section > header > :first-child
	{
		font-size: 1rem;
		color: var(--active-color)
	}
	#crew-section > header > :last-child
	{
		font-size: 1.5rem
	}
	main #crew-section > :last-child
	{
		font-family: Barlow, sans-serif;
		font-style: normal;
		font-size: .94rem;
		line-height: 1.56rem;
		letter-spacing: 0
	}
	main #pagination-circles
	{
		order: 3;
		display: flex;
		gap: 16px
	}
	main #pagination-circles > span
	{
		display: block;
		width: 10px;
		aspect-ratio: 1 / 1;
		background-color: var(--color-white);
		border-radius: 50%
	}
	main #pagination-circles > :not(.page-active)
	{
		opacity: 17%
	}
	main > div > div:last-of-type
	{
		order: 2;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid var(--hr-transparent-color-white)
	}
	main > div img
	{
		width: 45dvw
	}
}
