@media screen and (min-width: 768px) and (max-width: 1439px)
{
	main
	{
		height: 90%
	}
	main #intro-flex
	{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center
	}
	main #intro-txt
	{
		width: 450px;
		text-align: center
	}
	main #intro-txt h5, main #intro-txt p
	{
		color: #d0d6f9
	}
	main #intro-txt h5
	{
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 1.3rem;
		font-style: normal;
		letter-spacing: .21rem
	}
	main #intro-txt h1
	{
		font-family: Bellefair, serif;
		font-size: 9.38rem;
		font-style: normal;
		margin-block: 24px
	}
	main header *
	{
		font-weight: 400
	}
	main #intro-txt p
	{
		font-family: Barlow, sans-serif;
		font-size: 1rem;
		font-style: normal;
		letter-spacing: 0;
		line-height: 1.75rem
	}
	main #intro-txt *
	{
		margin: 0
	}
	main a
	{
		background-color: var(--color-white);
		color: var(--color-black);
		font-family: Bellefair, serif;
		font-size: 2rem;
		font-style: normal;
		letter-spacing: .13rem;
		width: 274px;
		height: 274px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center
	}
}
